.chats {
  position: relative;
  height: 400px;
  width: 250px;
}
.chats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #059ee0;
  height: 50px;
}
.chats__search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 8px;
}
.chats__search > input {
  background: transparent;
  border: none;
  flex: 1;
  font-size: 12px;
  color: white;
  outline: none;
}

.chats__search > input::placeholder {
  color: white !important;
  opacity: 1 !important;
}

.chats__avatar {
  height: 25px !important;
  width: 25px !important;
}
.chats__posts {
  height: 359px;
  background-color: white;
  box-shadow: 1px -7px 7pc -6px rgb(0, 0, 0, 0.44);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -9px;
  overflow: scroll;
}
.chats__takePicIcon {
  position: absolute;
  background-color: white;
  border-radius: 200px;
  color: gray;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px !important;
}
.chats__takePicIcon :hover {
  opacity: 0.8;
}

.chats__posts::-webkit-scrollbar {
  display: none;
}
.chats__searchIcon {
  color: white;
  font-size: 13px !important;
}
.chats__chatIcon {
  font-size: 18px !important;
  color: white;
}
